@import "tailwindcss";

@media print {
  body * {
    visibility: hidden !important;
  }

  #invoice-area,
  #invoice-area * {
    visibility: visible !important;
  }

  #invoice-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}
